@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-dropDown {
  animation: dropDown 0.8s ease-out forwards;
}

.dotted-line {
  border-top: 1px dotted rgba(255, 255, 255, 0.3); /* Adjust the color and opacity as needed */
  border-top-style: dashed;
  border-top-width: 2px;
  border-spacing: 4px;
}

.svg{
  position: absolute;
    top: 46%;
    left: 57%;
    z-index: -1;
}
.custom-left {
  left: calc(-100% - 24px);
}
